.navigationHeader {
    height: 50px;
    background-color: pink;
    display: flex;
    justify-content: space-around;
    .navbar {
        padding-top: 10px;
        padding-bottom: auto;
        font-weight: bold;
        text-decoration: none;
    }
    .bell {
        padding-top: 15px;
    }
    .user {
        padding-top: 15px;
    }
}